.main-menu {
    display: flex;

    & > .menu-item {
        position: relative;
        margin-right: 10px;

        &:hover,
        &:focus {
            & > .menu-item__sub-menu {
                display: block;
            }
        }

        & > .menu-item__sub-menu {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: $fill-white;
            padding: 5px 5px 15px;
            z-index: 5;

            .menu-item {
                white-space: nowrap;
            }

            .menu-item__sub-menu {
                margin-left: 15px;
                border-left: 3px solid $fill-green;
            }
        }
    }

    .menu-item {
        .menu-item__link,
        .menu-item__button {
            appearance: none;
            background-color: transparent;
            padding: 1px 5px;
            border: none;
            color: $text-green;
        }
    }
}
