description = "Default layout"

[session]
security = "all"

[staticMenu]
code = "main-menu"

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "search-results.htm"
==
{% component 'session' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ this.page.title }}</title>
    <link rel="stylesheet" href="{{ 'assets/dist/app.css'|theme }}">
</head>
<body class="fill-gray-lighter">
    <header>
        <div class="xs-border-bottom fill-gray-darker">
            <div class="medium-wrapper xs-mx-auto">
                <div class="xs-flex xs-flex-justify-space-between xs-flex-align-center">
                    <nav class="clearfix xs-p2">
                        {% if staticMenu.menuItems %}
                            {% partial "main-menu" items=staticMenu.menuItems %}
                        {% endif %}
                    </nav>

                    {% component 'searchInput' %}
                </div>
            </div>
        </div>
    </header>

    <main id="main-content" class="medium-wrapper xs-mx-auto xs-p1">
        {% page %}
    </main>

    <footer>
        {% partial 'footer' %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% framework extras %}
    {% scripts %}
    <script src="{{ 'assets/dist/app.js'|theme }}"></script>
</body>
</html>